<div class="wrapper">
  <nav>
    <ul>
      <a routerLink=""><li>Home</li></a>
      <a routerLink="path-1" routerLinkActive="active"><li>path-1</li></a>
      <a routerLink="path-2" routerLinkActive="active"><li>path-2</li></a>
      <a routerLink="path-3" routerLinkActive="active"> <li>path-3</li></a>
    </ul>
  </nav>

  <router-outlet></router-outlet>
</div>


